@use "../abstracts/" as *;

.card {
  display: flex;
  background-color: $card-background-default;
  font-family: $card-font-family;
  color: $card-color-default;
  line-height: $card-line-height;
  box-shadow: $card-shadow;
  border-radius: $card-border-radius;
  padding-block: $size-6;
  padding-inline-end: $size-6;
  
  &__heading {
    @include heading($card-heading-font-size, $card-heading-color-default);
  }
  
  &__content {
    display: grid;
    gap: $card-flow-spacing;
    padding: $card-padding;
  }
}
