$-clr-white: hsl(0, 0%, 100%);
$-clr-grey: hsl(231, 7%, 60%);
$-clr-charcoal: hsl(235, 18%, 26%);
$-clr-darkslate: hsl(234, 29%, 20%);
$-clr-tomato: hsl(4, 100%, 67%);
$-clr-tomato-gradient: hsl(346, 100%, 66%);


$light: (
  "neutral": (
    "000": $-clr-white,
    "400": $-clr-grey,
    "700": $-clr-charcoal,
    "800": $-clr-darkslate,
  ),
  "primary": (
    "400": $-clr-tomato,
    "700": $-clr-tomato-gradient,
  ),
);

// contextual color tokens
$color-neutral-000: var(--neutral-000);
$color-neutral-400: var(--neutral-400);
$color-neutral-700: var(--neutral-700);
$color-neutral-800: var(--neutral-800);

$color-primary-400: var(--primary-400);
$color-primary-700: var(--primary-700);
